* {
  margin: 0cm;
  padding: 0cm;
  box-sizing: border-box; }

body{
  background: rgb(35,27,162);
  background: linear-gradient(180deg, rgba(35,27,162,1) 0%, rgba(34,58,99,1) 0%, rgba(100,132,235,1) 0%, rgba(0,212,255,1) 28%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  position: relative; }
.footer-esp{
  align-content:center;
  margin-left: 100px;
  background-position: center;
}
.btn-ig{
  position:relative;}
.btn-fb{
  position:relative;
  right: 330px;}
.btn-wsp{
  position: fixed;
  line-height: 0px;
  bottom: 30px;
  right: 30px;}
.imagen_fondo1{
  background-image: url(../imagenes/grapes-ge16b874e6_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  background-position: center;}
.imagen_fondo2{
  background-image: url(../imagenes/cow-g0218c5907_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  margin-top: 10%;
  background-position: center;}
.imagen_fondo3{
    background-image: url(../imagenes/yerba-mate-g76934b3cb_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    margin-top: 10%;
    background-position: center;}
    
.titulo_v{
  text-align: center;
  color:azure;}
.texto_v{
  text-align: center;
  font-weight: bold;
  color:cornsilk;
  text-shadow: black 0.1em 0.1em 0.2em;}

.texto-nos{
  font-weight: bold;
  color:cornsilk;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.container-video{
  position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
  margin-top: 5%;
  margin-left: 7%;
  }
.container-video iframe{
  position:absolute;
	top:0;
	left:0;
	width:93%;
	height:93%;
}

.imagen-sost{
  background-image: url(../imagenes/nature-gb871f1b1b_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;}

.loremsostenible {
  text-align-last: auto;
  font-weight: bold;
  color:cornsilk;
  text-shadow: black 0.1em 0.1em 0.2em }

.imagen-nos{
  background-image: url(../imagenes/hands-gfec31aabc_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;}

html {
  font-family: 'Roboto', sans-serif; }

.lorem {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%; }

p {
  margin-top: 1%;
  padding: 5%;
  text-align: center; }

