* {
  margin: 0cm;
  padding: 0cm;
  box-sizing: border-box; }

body{
  background: rgb(35,27,162);
  background: linear-gradient(180deg, rgba(35,27,162,1) 0%, rgba(34,58,99,1) 0%, rgba(100,132,235,1) 0%, rgba(0,212,255,1) 28%);
}
h1 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center; }

.btn-ig{
  position: fixed;
  line-height: 220px;
  bottom: 30px;
  right: 30px;}
.btn-fb{
  position: fixed;
  line-height: 350px;
  bottom: 30px;
  right: 30px;}
.btn-wsp{
  position: fixed;
  line-height: 95px;
  bottom: 30px;
  right: 30px;}
.imagen_fondo1{
  background-image: url(../imagenes/grapes-ge16b874e6_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;}
.imagen_fondo2{
  background-image: url(../imagenes/cow-g0218c5907_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  margin-top: 10%;}
.imagen_fondo3{
    background-image: url(../imagenes/yerba-mate-g76934b3cb_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    margin-top: 10%;}
    
.titulo_v{
  text-align: center;
  color:azure;}
.texto_v{
  text-align: center;
  color: rgb(96, 73, 231);
  font-weight: bold;}

.video {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 5%; }

.estiloRuta {
  color: darkorange; }
.imagen-sost{
  background-image: url(../imagenes/nature-gb871f1b1b_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}

.loremsostenible {
  text-align-last: auto;
  color: rgb(250, 250, 250);
  font-weight: bold; }

.imagen-nos{
  background-image: url(../imagenes/hands-gfec31aabc_1920.jpg);
  background-size: cover;
  background-attachment: fixed;}

html {
  font-family: 'Roboto', sans-serif; }

.lorem {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%; }

p {
  margin-top: 1%;
  padding: 5%;
  text-align: center; }

@media only screen and (min-width: 768px) {
  body {
    background-color: lightblue; } }

@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: lightcyan; } }

@media only screen and (max-width: 320px) {
  body {
    background-color: lightgray; } }
